

.page3Container{
    height: 100%;
    width:100%;
    background-image: url(../../Assets/image/bg3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: change 1.5s;
}