@keyframes change
{
from {opacity: 0;}
to {opacity: 1;}
}

.page4Container{
    height: 100%;
    width:100%;
    background-image: url(../../Assets/image/bg4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: change 1.5s;
}