.page4Container{
    height: 100%;
    width:100%;
    background-image: url(../../Assets/image/bg4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: change 1.5s;
}

/* 留言的颜色 */
.commentContent{
    color: #fff;
}
.ant-comment-content-author-name{
    color: #ffeb00;
}

/* 留言列表回复按钮 */
.messageList .replyCommentBtn{
    color:#fff;
}
.messageList .replyCommentBtn:hover{
    color: #ffeb00;
}

/* 取消回复留言按钮  */
.cancelReplyBtn{
    margin-left: 1rem;
    cursor: pointer;
}
.cancelReplyBtn:hover{
    color: #ffeb00;
}

/* 提交回复留言按钮 */
.submitReplyBtn{
    margin-left: 1rem;
    cursor: pointer;
}
.submitReplyBtn:hover{
    color:#ffeb00 ;
}


/* // 大屏幕样式 */
@media screen and (min-width:901px){
    .page4Container{
        box-sizing: border-box;
        padding: 11rem 6rem 5rem;
        display: flex;
    }
    .messageBoardTitle{
        position: absolute;
        left: 50%;
        transform: translate(-50%,-102%);
        font-size: 3rem;
        font-weight: bold;
        color: #fff;
        z-index: 99;
    }
    /* 留言板样式 */
    .messageBoard{
        flex: 2;
        width: 100%;
        height: 100%;
        position: relative;
        border: 1px solid #fff;
        border-radius: 1rem;
        padding-left: 1rem;
        overflow-y: scroll;
    }
    
    .messageBoard::-webkit-scrollbar{
        width: 1rem;
    }
    .messageBoard::-webkit-scrollbar-button{
        display: none;
    }
    .messageBoard::-webkit-scrollbar-thumb{
        border-radius: 0.4rem;
        background-color: #ffeb00;
    }
    .messageBoard::-webkit-scrollbar-track{
        background-color: transparent;
    }



    /* 留言表单 */
    .leaveMessageForm{
        flex: 1;
        width: 100%;
        height: 100%;
        margin-left: 1rem;
        border: 1px solid #fff;
        border-radius: 1rem;
        padding: 0.5rem;
        font-size: 1.3rem;
        text-align: center;
    }
    .leaveMessageFormTitle{
        color: #fff;
        width: 100%;
        font-size: 2rem;
    }
    .leaveMessageFormName{
        display: flex;
        margin-top: 2rem;
    }
    .leaveMessageFormName span{
        flex: 1;
        vertical-align: middle;
    }
    .leaveMessageFormName input{
        flex: 2;
        width: 80%;
        margin: 0 0.5rem;
        vertical-align: middle;
        text-align: center;
        color:#fff;   
        border: none; 
        background: transparent;
        outline: none;
    }
    .leaveMessageFormName input::placeholder{
        color: #fff;
    }

    .leaveMessageFormWarm{
        text-align: right;
        padding-right: 4rem ;
        width: 100%;
        height: 1.8rem;
        color: #f5222d;
    }

    .leaveMessageFormContext{
        display: flex;
        margin-top: 20%;
    }
    .leaveMessageFormContext span{
        flex: 1;
    }
    .leaveMessageFormContext textarea{
        flex: 2;
        margin: 0 0.5rem;
        width:100%;
        height: 10rem;
        background-color:rgba(0, 0, 0, 0);
        color: #fff;
        outline: none;
        border: 1px solid #fff;
        border-radius: 1rem;
        text-align: center;
        resize: none;
    }
    .leaveMessageFormContext textarea::placeholder{
        line-height: 8rem;
        color: #fff;
        font-size: 2rem;
    }

    .leaveMessageFormSubBtn{
        width: 100%;
        height: 3rem;
        margin:3rem 0.5rem;
    }
    .leaveMessageFormSubBtn button{
        width: 50%;
        height: 2.5rem;
        border: none;
        color: #fff;
        background-color: #0099CC;
        outline: none;
        margin: 0 auto;
        border-radius: rem;
    }
}