/* 小屏幕适配样式 */
@media screen and (max-width:900px){

}


/* 大屏幕样式 */
@media screen and (min-width:901px){

  body{
    background-color: #000;
  }

  /* 导航栏样式 */
  .navListIcon{
    position: fixed;
    top: 50%;
    right: 3.25rem;
    text-align: center;
    transform: translateY(-50%);
  }
  .navListIcon>li{
    margin: 2.08rem 0.7435rem;
  }
  .navListIcon>li>span{
    display: block;
    width: 0.833333333rem;
    height: 0.833333333rem;
    background-color: #fff;
    border-radius: 50%;
    transition:all 0.5s ease;
  }
  .navListIcon .current{
    transform: scale(1.5);
    background-color: #ffeb00;
  }

  /* 头部样式 */
  .header{
    position: fixed;
    top: 0;
    width:100%;
    height: 7.583333333rem;
    padding: 2.916666666rem 3.25rem 0.5416666666rem;
    z-index: 99;
  }

  /* 音乐播放组件样式 */
  .controler{
    width: 20rem;
    height: 3.25rem;
    float: left;
  }

  /* 联系方式样式 */
  .contactWay{
    float: left;
    color: #fff;
    height: 3.25rem;
    line-height: 3.25rem;
    font-size: 1.2rem;
    margin-left: 20rem;
  }

  .contactWay i{
    vertical-align: middle;
    margin-right: 1rem;
  }

  .phone{
    vertical-align: middle;
    float: left;
  }

  .obliqueLine{
    float: left;
    margin:0 2rem 0;
  }

  .email{
    vertical-align: middle;
    float: left;
  }


  /* 侧边栏按钮及侧边栏样式 */
  .sideBarBtn{
    position: fixed;
    top: 3.25rem;
    right: 3.25rem;
    height: 2rem;
    width: 2rem;
    overflow: hidden;
   
  }
  .line1{
    width: 3.25rem;
    height: 0.2rem;
    margin-bottom: 0.53rem;
    border-top: 0.2rem solid #fff;
    transition: all 1s;
    transform-origin: 0 0;

  }
  .line1Rotate{
    transform: rotate(43deg);
  }
  .line2{
    width: 3.25rem;
    height: 0.2rem;
    margin-bottom: 0.53rem;
    border-top: 0.2rem solid #fff;
    transition: all 1s;
  }
  .line2Rotate{
    transform: translateX(100%);
  }
  .line3{
    width: 3.25rem;
    height: 0.2rem;
    border-top: 0.2rem solid #fff;
    transition: all 1s;
    transform-origin:  0 0;
  }
  .line3Rotate{
    transform: rotate(-43deg);
  }
}


/* 公共样式 */

@keyframes change{
from {opacity: 0;}
to {opacity: 1;}
}

@keyframes contextCarousel{
  0%{
    transform: translateX(0);
  }
  20%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-80%);
  }
}

/* 音乐播放控件样式 */
.wiget{
  box-sizing: border-box;
  float: left;
  height: inherit;
  width:6.5rem;
  line-height: 3.25rem;
  font-size: 2.5rem;
  text-align: center;
  color: #fff;
  animation: change 4s;
}

.wiget i{
  vertical-align: bottom;
  user-select: none;
  outline: none;
  cursor: pointer;
}

.wiget .nextMusic{
  margin-left: 1rem;
}

.musicTitle{
  float: left;
  overflow: hidden;
  width: 12.5rem;
  height: inherit;
  margin-left: 1rem;
  line-height: 2.5rem;
  font-size: 1.8rem;
  color: #fff;
}

.musicTitle span{
  display: inline-block;
  white-space: nowrap;
  animation: contextCarousel 10s linear 2s infinite;
}

.audio{
  display: none;
}